<div class="col-10 offset-1 about">
  <h1>About our coffee</h1>

  <p>
    Our mission is to provide for you the best quality of roasted coffee beans from the Dominican Republic. Which due to the humidity and high elevation, create a beautifly balanced taste that our customers love!
  </p>
  <br />
  <p>
    We have searched the planet for the best coffee beans and we believe that this is the best tasting yet! No other coffee beans can live up to the wonderful taste that we have searched many regions for.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'marco.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Domincian Delight</h2>
      <br />
      <p>
        Our most famed drink by far. Elegant yet subtle. Smooth but bitter. This drink will reinvent your taste buds and give you an experience that you can not find anywhere else. Also at 3$ a cup of deliciuos gormet coffee is a STEAL!
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ken.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Buy Coffee Beans By The Pound!</h2>
      <br />
      <p>
        Yes, you've read that right! You can now buy our famous coffee beans. Grind them and formulate youre own creation in the comfort of your own home. Even make a cup to share for your friends and family. 10$ a pound and will probably be the best 10$ you have ever spent.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />